name: Python Coverage

on:
    pull_request: 
        branches: 
            - main
permissions: 
    pull-requests: write

jobs:
    python-coverage:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v4
            
            - name: setup python
              uses: actions/setup-python@v4
              with: 
                python-versions: 3.13

            - name: Install dependencies
              run: |
                pip install -r requests.txt
                pip install pytest==8.4.1
                pip instal coverage==7.9
                pip install pytest-cov==6.2.1

            - name: Install tests and generate coverage repote
              run: pytest --cov=src

            - name: Coverage comment
              uses: py-cov-action/python-coverage-comment-action@v3
              with:
                 GITHUB_TOKEN: ${{ github.token }}
                 MINIMUM_GREEN: 90
                 MINIMUM_ORANGE: 70

            - name: Fail if below threshold
              run: coverage report --fail-under=90